*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

header {

background-color: #F50F0F;
height: 5rem;

display: flex;
justify-content: center;
align-items: center;

position: fixed;
width: 100%;
top: 0;

}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem;
    border-radius: 5px;

}

nav{
    display: flex;
    gap: 10rem
}

header a:hover {
    background-color: white;
    transform: scale(1.1);
    transition: transform .5s;
   

}

section{
    border: 1px solid black;
    height: calc(100vh - 5rem);
    padding: 3rem;
}

#listas{
    margin-top: 4rem;

}

section h2{
    text-align: center;
}
